body{
    background: url('../assets/images/bg1.jpg')no-repeat;
    background-size: cover;
    text-align: center;
}

.jumbotron{
    margin-top: 10%;
    width:250px;
    height: 250px;
}

.modal-content {
    opacity: 0.9;
}
